body {
    font-family: serif;
    background-color: #414141;
    color: #333333;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #04aabdc0;
    padding: 10px;
    text-align: center;
}

.header h1 {
    color: #ffffff;
    font-size: 2.5em;
    margin: 0 0 15px 0;
    text-align: center;
}

.nav {
    padding-left: 0;
    margin: 15px 0 20px 0;
    text-align: center;
}

.nav li {
    display: inline;
    margin-right: 10px;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
}

.nav a:hover {
    text-decoration: underline;
}

.main-content {
    width: 600px;
    margin: 30px auto 0 auto;
    padding: 20px;
    border: 1px solid #dddddd;
    background-color: white;

}

h2 {
    color: #7ab698;
    margin: 10px 0 20px 0;
    text-align: center;
}

h3 {
    color: #7ab698;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 10px 0 15px 0;
}

.ingredients-list, ol {
    padding-left: 40px;
}

.ingredients-list li, ol li {
    margin-bottom: 5px;
}

a {
    color: blue;
    text-decoration: none;
}

.recipes ul {
    list-style-type: none;
    padding: 0;
}

.recipes li {
    display: flex;
    align-items: flex-start;
    border: 1px solid #b56663;
    margin-bottom: 15px;
    padding: 10px;
}

.recipes h3 {
    border-bottom: 0;
    margin-bottom: 5px;
}

.recipes a {
    color: #7ab698;
    font-weight: bold;
}

.recipe-img {
    width: 100px;
    height: auto;
    margin-right: 15px;
}

.site-logo {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}
.header h1 {
    margin-bottom: 5px;
}

.photo-grid {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
}

.photo-grid img {
    width: 31%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

label, input {
    display: block;
}
label {
    margin-bottom: 10px;
}
input {
    width: 500px;
    margin-bottom: 24px;
}
input[type=submit] {
    width: 150px;
    margin-bottom: 16px;
    margin-left: 150px;
}
input[type=text] {
    border: 2px solid #b56663;
    font-size: 24px;
    padding: 7px;
}
textarea {
    width: 500px;
    height: 300px;
    padding: 7px;
    border: 2px solid #7facaa;
    margin-bottom: 25px;
    font-size: 24px;
}
input[type=checkbox], label[for=newsletter] {
    width: 100px;
    display: inline;
}
input[type=radio], label[for=gender] {
    width: 100px;
    display: inline;
}